In [ ]:
# Python basics assignment - sathish devarajulu

In [ ]:
# Q1 : Key features of Python

In [ ]:
"""
Python is widely used industry programming language in the data science sector
Python is used by Fortune 500 companies
Python has lot of libraries â€“ around 137000
Python contains optimized libraries
Python is used for machine learning, data engineering, data science, visualization
Python contains multiple frameworks, other merits being ease of learning and versatile
Huge active community for Python is anotehr major asset
Python also caters to cross connectivity across databases

"""

In [2]:
print ("Q1 key features of Python answered above")

Q1 key features of Python answered above

In [ ]:
# Q2 : Predefined keywords with examples

In [ ]:
"""
Predefined keywords are reserved words used in Python that have specific meaning and cannot be used as identifiers
They are case sensitive
Keywords cannot be overridden within a Python program
Examples of keywords in Python:
None
return
while
True
False
class
def
dep
type
for
if
elseif
assert
break
await

Below are few illustrations of keywords used in Python
"""

In [4]:
# type keyword
s="Hi"
type (s)

str

In [5]:
# print keyword
print ("Print is a pre defineed keyword")

Print is a pre defineed keyword

In [13]:
# if else keyword
s = 2
if s > 3:
    print ("s is greater than 1")
else:
    print ("s is lesser than 1")

s is lesser than 1

In [10]:
# if else keyword
s = 4
if s > 3:
    print ("s is greater than 1")
else:
    print ("s is lesser than 1")

s is greaterr than 1

In [14]:
print ("Q2 predefined keywords described wwith examples")

Q2 predefined keywords described wwith examples

In [ ]:
# Q3 : Mutable and immutable objects in Python

In [ ]:
"""
mutable objects:
- those objects whose values can be changed after creation is called mutable objects
- they support item assignment
example - list command
basically list is used to store all kinds of data and any number of data
any value inside the list elements can be changed
below illustration

"""

In [19]:
list_cont = [1,2,"Sathish"]
list_cont [2]

'Sathish'

In [20]:
list_cont = [1,2,"Rupesh"]
list_cont [2]

'Rupesh'

In [21]:
list_cont = [1,2,"Rupesh"]
list_cont [1]

2

In [22]:
list_cont = [1,20,"Rupesh"]
list_cont [1]

20

In [23]:
list_cont = [1,2,"Sathish"]
type (list_cont)

list

In [ ]:
"""
inmutable objects:
- those objects whose values cannot be changed after creation is called mutable objects
- they do not support item assignment
example - str command
below illustration

"""

In [24]:
g = "Unimaginable"
g [2]

'i'

In [26]:
g [2]="Q"

TypeError: 'str' object does not support item assignment

In [ ]:
# the above statment means that the "i" stored in 2nd memory blank cannot be replaced with "Q"

In [28]:
print ("Q3 - mutable and inmutable objects explanation done")

Q3 - mutable and inmutable objects explanation done

In [ ]:
# Q5 - typecasting in Python

In [ ]:
"""
type casting means conversion of one data type to another data type
2 types - implicit and explicit
implicit typecasting - takes the predefined data type and implies as per Python data types
explicit typecasting - specifically define the data type to be convereted

below illustration with examples
"""

In [29]:
# variable defined as string initially but type converted to int
b = "150"
b = int(b)
type (b)

int

In [32]:
"10" + 8

TypeError: can only concatenate str (not "int") to str

In [36]:
# in above example string concatenation cannot be done with int data type
# hence first data type conversion is done and then operation carried out
a = "10"
b =  8
a = int("10")
a + b

18

In [ ]:
#In special cases for storage values of different data types this type casting is used

In [37]:
print ("Q5 - concept of typecasting is explained")

Q5 - concept of typecasting is explained

In [ ]:
#Q7 Loops in Python

In [ ]:
"""
2 types of loops used in Python
for loop
while loop
for loop used to iterate over sequence of elements (elements can be str or list)
while loop used to execute set of statements until specified condition becomes false
for and while -> both are predefined keywoprds in Python

below illustrations can be seen
"""

In [39]:
#for loop example 1
#value of i is S in the first time and then a in second time 
#like that till end of string and terminates at the end
for i in ("Sathish"):
    print (i)

S
a
t
h
i
s
h

In [42]:
#for loop example 2
# for each item of the list is assigned to i and printed
fruits = ["Apple","Mango","Plums"]
for i in fruits:
    print ("Nice" + i)

NiceApple
NiceMango
NicePlums

In [43]:
#for loop example with range statement
#range generates sequence of elements, for loop execution from start to end of range values
for i in range(0,4):
    print (i)

0
1
2
3

In [46]:
#for loop example 4 using range
# range (0,50,5) - start from 0 end at 50 with interval of 5 between list value
for i in range(0,50,5):
    print (i)

0
5
10
15
20
25
30
35
40
45

In [ ]:
# for loop with continue statment

In [52]:
# once the condition mentioned is met for loop element then skip the 
# condition met element and proceed to next loop element 
# i takes the value of Hi so skip Hi element and proceed with next loop element
l = [1,2,"Hi",4+5j,"Bye"]
for i in l:
    if i == "Hi":
            continue
    print (i)

1
2
(4+5j)
Bye

In [ ]:
# for loop with break statement

In [22]:
# once the condition mentioned is met for loop element then break the loop and execution is stopped 
# i takes value of Hi and then no further exection due to break statement execution
l = [1,2,"Hi",4+5j,"Bye"]
for i in l:
    if i == "Hi":
            break
    print (i)

1
2

In [54]:
# for loop - example with else
# execute all the loop elements and then once nothing left execute the else condition
l = [1,2,"Hi",4+5j,"Bye"]
for i in l:
    print (i)
else:
    print ("Condition complete")

1
2
Hi
(4+5j)
Bye
Condition complete

In [56]:
# for loop - example with range
# loop elements are in the range and iteration will start with between range values
l = range (2,30,3)
for i in l:
    print (i)
else:
    print ("range complete")

2
5
8
11
14
17
20
23
26
29
range complete

In [58]:
print ("for loops illustration complete")

for loops illustration complete

In [ ]:
# while loops - used to repeatedly execute set of statements until specified condition becomes false

In [79]:
# while loop - example 1
# first iteration value is 1 while condition ie met so print and then increment i by 1
# second iteration value is 2 and proceed till while condition becomes false
i = 1
while i < 6:
        print (i)
        i += 1

1
2
3
4
5

In [1]:
# while loop - example 2 with break
# first loop element value is 1 and it is printed followed by break
# while loop is broken with no further exection
i = 1
while i < 6:
        print (i)
        break
        i += 1

1

In [2]:
# while loop example with continue keyword
# when loop element value is 3 then that itereation is skipped and contnues with rest of loop elements
#once while condition is met and becomes false then code outisde else is executed, hence final printed
n = 7
i = 1
while i < n:
    i = i+1
    if i == 4:
            continue
    print(i)
else:
            print("Printed")

2
3
5
6
7
Printed

In [23]:
print ("Q7 loops done in Python")

Q7 loops done in Python

In [ ]:
# Q6 conditional statemetns in Python

In [ ]:
"""
Types of conditional statemetns used in Python
* if
* if else
* if elif
* nested if else
"""

In [6]:
#if condition illustration below
# if the mentioned condition is true then next set of code block will be executed
a = 33
b = 33
if b == a:
  print("a and b are equal")

a and b are equal

In [4]:
#if condition example 1
a = 111
b = 33
if a > b:
  print("a  is greater")

a  is greater

In [1]:
#if condition example 2
a = 13
b = 33
if a > b:
  print("a  is greater")

In [ ]:
# no response for above code exedcution since if condition is false

In [7]:
#if condition example 3
salary = 5001
if salary > 5000:
    print ("happy")

happy

In [ ]:
# if else condition
# syntax if the condition is true execute code 1 block else execute code 2 block

In [10]:
#if else example 1
a=1200
if a > 1500:
    print ("a is greater")
else:
    print ("a is smaller")

a is smaller

In [11]:
#if else example 2
a=1600
if a > 1500:
    print ("a is greater")
else:
    print ("a is smaller")

a is greater

In [13]:
#if else example 3
a = "Sunny"
if a  == "Sunny":
    print ("play football")
else:
    print ("watch TV")

play football

In [16]:
#if else example 4
a = "Sunny"
if a  != "Sunny":
    print ("play football")
else:
    print ("watch TV")

watch TV

In [ ]:
#if elif else condition
# can have multiple conditions inside

In [23]:
# if elif example
age = 24
if age >= 21:
    print ("eligible to vote")
elif 25 <= age > 22:
        print ("partial vote")
else:
    print ("cannot vote")

eligible to vote

In [24]:
# if elif example
age = 15
if age >= 21:
    print ("eligible to vote")
elif 25 <= age > 22:
        print ("partial vote")
else:
    print ("cannot vote")

cannot vote

In [30]:
# if elif example
age = 29
if age == 21:
    print ("eligible to vote")
elif 25 < age > 22:
    print ("partial vote")
else:
    print ("cannot vote")

partial vote

In [ ]:
#nested if condition - can hold if statement inside anotehr if statement

In [31]:
# nested if example 1
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [32]:
# nested if example 2
x = 11

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.

In [33]:
# nested if example 3
num=8
print ("num = ",num)
if num%2==0:
   if num%3==0:
      print ("Divisible by 3 and 2")
   else:
      print ("divisible by 2 not divisible by 3")
else:
   if num%3==0:
      print ("divisible by 3 not divisible by 2")
   else:
      print ("not Divisible by 2 not divisible by 3")

num =  8
divisible by 2 not divisible by 3

In [35]:
print ("Q6 completed conditional statemetns in Python")

Q6 completed conditional statemetns in Python

In [ ]:
# Q4 : Types of operators in Python

In [ ]:
"""

Operators are used to perform some operations and manipulate data

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Below explained with illustrations for each operator type

"""

In [36]:
#Arithmetic operators
"""
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//  Floor division x // y

"""

In [37]:
2+3

5

In [38]:
4-2

2

In [39]:
4*6

24

In [40]:
9/7

1.2857142857142858

In [41]:
4 // 3

1

In [42]:
2 ** 4

16

In [43]:
6 % 4

2

In [ ]:
#Assignment operators
"""
=	
+=		
-=	
*=	
/=	
%=	
//=	
**=	
&=	
|=		
^=		
>>=	
<<=	
:=	

"""

In [45]:
a=3
print (a)

3

In [49]:
a=5
a += 5
a

10

In [50]:
e=7
e -= 4
e

3

In [ ]:
#Comparison operators
"""
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y


"""

In [52]:
5==5

True

In [53]:
4 != 6

True

In [54]:
4 == 6

False

In [55]:
4 > 6

False

In [56]:
6 < 9

True

In [57]:
3 >= 6

False

In [58]:
2 >=2

True

In [59]:
6 <= 4

False

In [ ]:
#Logical operators
"""
and
or
not

"""

In [60]:
True and True

True

In [61]:
True and False

False

In [62]:
False and False

False

In [63]:
True or False

True

In [64]:
True or True

True

In [65]:
False or False

False

In [66]:
not True

False

In [67]:
not False

True

In [ ]:
# Identity operators

In [ ]:
"""
is
is not

"""

In [68]:
# different value stored in each memory location so when is oeprator is used returns false
a=3
b=5
a is b

False

In [70]:
# same value stored in each memory location so when is oeprator is used returns true
_r=4
_t=4
_r is _t

True

In [71]:
# different value stored in each memory location so when is not oeprator is used returns true
a=3
b=5
a is not b

True

In [72]:
# same value stored in each memory location so when is not oeprator is used returns false
_r=4
_t=4
_r is not _t

False

In [ ]:
#Membership operators
# in, not in

In [73]:
5 in [2,3,4,5]

True

In [74]:
"hi" not in ["bye","sorry","morning"]

True

In [76]:
"hi" in ["bye","sorry","morning","hi"]

True

In [ ]:
# Bitwise operators - used for operations done at bit level

In [77]:
bin(10)

'0b1010'

In [78]:
18 & 3

2

In [79]:
bin(2)

'0b10'

In [86]:
4 | 5

5

In [87]:
bin(5)

'0b101'

In [88]:
#negation ~
# gives closest highest negative value
~6

-7

In [83]:
#XOR operator ^
# return 1 when exactly one operand is 1
5 ^ 3

6

In [84]:
# >> right shift operator
280 >> 3

35

In [85]:
# << left shift operator
5 << 1

10

In [89]:
print (" Q4 oeprators completed in Python")

 Q4 oeprators completed in Python

In [90]:
print ("Python basics assignment completed for all 7 questions")

Python basics assignment completed for all 7 questions